body {
    margin: 0;
}

/* NAVBAR */

#navbar {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    letter-spacing: 1px;
}

#nav-title {
    justify-content: flex-start;
    padding: 1.5vh;
    color: white;
}

.nav-grp-btn {
    display: flex;
    flex-direction: row;
    align-self: center;
    list-style-type: none;
}

.nav-btn {
    padding: 5vh 5vw;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-btn:hover {
    padding: 5vh 5vw;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    transition-duration: 0.7s;
}

.header {
    /* background-image: url(/img/background.png); */
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 5px solid;
}

/* Section Slide 1 */

.slide1{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 33px;
    width: 100%;
    height: 175px;
}

.game{
    width: 493px;
    height: 275px;
    background: #000000;
    border-radius: 10px;
}
